{% import "_macros/active.twig" as macros %}


<nav class="fixed-container flex justify-between items-center w-100 center">
    <h1>
      <a class="no-underline serif" href="/">Nora DeLigter</a>
    </h1>
    <ul class="nav-ns db-ns dn">
      <li>
        <a class="serif no-underline{{ macros.is_active('independent') }}" href="/independent">Independent</a>
      </li>
      <li>
        <a class="serif no-underline{{ macros.is_active('agency') }}" href="/agency">Agency</a>
      </li>
      <li>
        <a class="serif no-underline{{ macros.is_active('editorial') }}" href="/editorial">Editorial</a>
      </li>
      <li>
        <a class="serif no-underline{{ macros.is_active('about') }}" href="/about">About</a>
      </li>
    </ul>
    <ul class="dn-ns db">
      <li>
        <a id="toggle" class="no-underline" href="#">Menu</a>
      </li>
    </ul>
</nav>

<div class="nav-small w-100 bt bb">

  <ul class="fixed-container w-100 center serif">
    <li class="bb">
      <a class="no-underline serif" href="/independent">Independent</a>
    </li>
    <li class="bb">
      <a class="no-underline serif" href="/agency">Agency</a>
    </li>
    <li class="bb">
      <a class="no-underline serif" href="/editorial">Editorial</a>
    </li>
    <li>
      <a class="no-underline serif" href="/about">About</a>
    </li>
  </ul>

</div>
