<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    <meta name="description" content="Nora DeLigter is a writer and director based in Brooklyn, New York.">
    <meta name="keywords" content="Nora DeLigter, Film, Copywriting, New York">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <link rel="shortcut icon" type="image/png" href="/assets/fav.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>

    <link href="/style.css" rel="stylesheet">
  </head>

{% set path = craft.app.request.pathInfo|split('/')|first %}

<body class="{% if path|length %} {{ path }} {% else %}home {% endif %}">
    {% include "_includes/nav" %}
      {% block content %}{% endblock %}
  </body>
  <script src="/app.js"></script>
</html>
