{% extends "_layout" %}

{% block content %}
<div class="fixed-container center mv4">
{% if entry.paragraph|length %}
  <p class="text-block f1 serif red">
    {{ entry.paragraph | striptags('<a><b><em><strong><img>') | raw }}
  </p>
{% endif %}
</div>
{% endblock %}
