{% extends "_layout" %}

{% block content %}
  <section class="intro pv5">
    <div class="fixed-container center">
      <span class="f1 serif">
        {{ entry.siteIntro | striptags('<a><b><em><strong><img>') | raw }}
      </span>
    </div>
  </section>

  <section class="featured-work">
    <div class="fixed-container center grid">
      <div class="work-item bg-red grid-col-100">
        <video autoplay="autoplay" loop="loop" muted="muted">
          <source src="assets/loop.mp4" type="video/mp4">
        </video>
      </div>
      <div class="work-item bg-blue grid-col-50">
        <img src="assets/212_hat.jpg"/>
      </div>
      <div class="bg-yellow pv4 ph3 grid-col-50">Card 3</div>
      <div class="bg-red pv4 ph3 grid-col-100">Card 4</div>
      <div class="bg-blue pv4 ph3 grid-col-100">Card 5</div>
    </div>
  </section>
{% endblock %}
