{% extends "_layout" %}

{% block content %}
  <section class="intro pv5 white">
    <div class="fixed-container center">
      <span class="f1 serif">
        {{ entry.siteIntro | striptags('<a><b><em><strong><img>') | raw }}
      </span>
    </div>
  </section>
  <div class="bgImage"></div>
{% endblock %}
