* {
  font-family: "Times New Roman";
}

body, html {
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
}

ul, li {
  display: inline-block;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: "Times New Roman";
}

h1 {
  font-size: 24px;
  padding: 0px;
}

.serif {
  font-family: "Times New Roman";
}

.red {
  color: #FF000E;
}

.green {
  color: #019C49;
}

.active {
  text-decoration: underline;
}

.vh-calc-100 {
  height: calc(100vh - 91px);
}

.hr {
  border-top: 1px solid black;
  margin-top: 16px;
}

/* Color Blocks */
.editorial {
  background-color: #F8FEFA;
  color: #019C49;
}

.about {
  background-color: #fff1f3;
  color: #FF000E;
}

.agency {
  background-color: #F3F7FF;
  color: #0057FF;
}

.independent {
  background-color: #FDF3CB;
  color: #695F00;
}

.home {
  background-color: transparent;
  color: #fff;
}

/* Nav */
nav {
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav li {
  padding-right: 16px;
}

.intro {
  overflow: hidden;
}

.show .intro {
  overflow: hidden;
  opacity: .5;
}

.nav-small {
  overflow: hidden;
  opacity: 0;
  display: none;
  background-color: inherit;
  color: inherit;
}

.show {
  overflow: hidden;
}

.show .nav-small {
  height: 100%;
  display: block;
  opacity: 1;
  display: fixed;
  height: 100vh;
  width: 100vh;
}

.nav-small li {
  display: block;
  padding: 1em 0;
  font-size: 1.5em;
}

.fixed-container {
  width: 100%;
  max-width: 1080px;
  padding: 0px 32px;
}

.bgImage {
  background: url(assets/editorial/hero.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: none;
  overflow: hidden;
}

/* Generic Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2em;
  row-gap: 3em;
}

.span-4, .span-2, .span-1, .span-3 {
  grid-column: span 4;
}

@media only screen and (min-width: 30em) {
  .span-2 {
    grid-column: auto / span 2;
  }

  .span-1 {
    grid-column: auto / span 1;
  }
}

@media only screen and (min-width: 30em) and (max-width: 60em) {
  .span-2 {
    grid-column: auto / span 2;
  }

  .span-1 {
    grid-column: auto / span 2;
  }
}

.work-item video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.work-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.text-block img {
  vertical-align: middle;
  zoom: 50%;
  margin: 0 24px;
}

.text-block {
  line-height: 135%;
}

.table .row {
  display: grid;
  grid-template-columns: min-content minmax(100px, 400px) minmax(100px, 1fr) minmax(100px, 1fr);
  grid-gap: 16px;
  row-gap: 8px;
  border-bottom: 1px solid #019C49;
  margin-top: 0 !important;
  padding: 16px 0px;
}

@media only screen and (max-width: 30em) {
  .table .row {
    grid-template-columns: 1fr 1fr;
  }

  .table .row a {
    grid-column: auto / span 2;
  }
}

.table .row p {
  margin-top: 0;
  margin-bottom: 0;
}

.table .image-hold {
  width: 56px;
  height: 56px;
  background-size: cover;
  background-position: center;
  background-color: #019C49;
  flex-shrink: 0;
}

.title:hover {
  text-decoration: underline;
}

/* Directing */
.clip-hold {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.clipData {
  background: #f0f0f0;
  opacity: 0;
  transition: all 0.14s ease-in;
  mix-blend-mode: difference;
}

.clipData h2 {
  text-decoration: none;
}

.clipData:hover {
  opacity: 1;
}

.col-2 .iframe-container {
  display: flex;
  padding-bottom: 0;
  height: 100%;
}

/* Work Grid */
.detail-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 40px;
}

.grid .frame-wrapper {
  position: relative;
}

.frame-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.frame-wrapper video {
  width: 100%;
  height: auto;
  padding-top: 0 !important;
}

.aspect-ratio_16x9 {
  padding-top: calc(9 / 16 * 100%);
}

.aspect-ratio_4x5 {
  padding-top: calc(5 / 4 * 100%);
}

.img-wrapper img {
  width: 100%;
}



/* Work Index */
.thumbnail {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.thumb-campaigns {
  height: 300px;
  max-height: calc(100vw * .6);
}

.no-underline h3:hover {
  text-decoration: underline;
}

/* Vimeo */

.vimeo-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
